* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
.tabs {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}
.form__inner {
  display: flex;
  gap: 30px;
}

.form__selects {
  display: flex;
  gap: 30px;
}

.tab {
  padding: 5px;
  cursor: pointer;
  &.active {
    border-bottom: 2px solid #000;
    cursor: default;
  }
}

.content {
  display: none;
  &.show {
    display: block;
  }
}

.currency__item {
  display: flex;
  justify-content: space-evenly;
}

.currency__single {
  position: relative;
  .select {
    position: absolute;
    right: 100px;
    top: 0;
    display: none;
  }
  &.active {
    .select {
      display: block;
    }
  }
}

.currency__add {
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
  position: relative;
  .select {
    position: absolute;
    right: 200px;
    display: none;
  }
  &.active {
    .select {
      display: block;
    }
  }
}
